<% @video_groups.each do |group| %>
  <% if group.videos.count > 1 %>
    <div class="video-group-multivids"><%= group.name %> :</div>
    <% cnt = 0 %>
    <% ch = ?A %>
    <% group.videos.each do |video| %>
      <% path_str = '/afp/video/' + video.id.to_s %>
      <div class="video-group-video"><%= link_to ch.chr, path_str, :remote => true, 'data-type' => 'html', :class => 'video-link' %></div>
      <% if cnt < group.videos.count - 1 %>
        |
      <% else %>
        <div class="video-group-spacer"></div>
      <% end %>
      <% cnt = cnt + 1 %>
      <% ch = ch + 1 %>
    <% end %>
  <% else %>
    <% path_str = '/afp/video/' + group.videos.first.id.to_s %>
    <div class="video-group-name"><%= link_to group.name, path_str, :remote => true, 'data-type' => 'html', :class => 'video-link' %></div>
  <% end %>
<% end %>

<div id="video-area"></div>
<script><%= render "index.js" %></script>
