body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 15px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
	color: #333;
	text-decoration: none;
}
a:visited { color: #333; }
a:hover {
	color: #A0A0A0;
	text-decoration: none;
}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/*** Michael Dillon Music Styles ***/

img#logo {
	position:absolute;
	top:120px;
	left:290px;
}

div#discog-link {
	position:absolute;
	top:200px;
	left:350px;
	font-size:14px;
}

div#afp-link {
	position:absolute;
	top:200px;
	left:451px;
	font-size:14px;
}

div#contact-link {
	position:absolute;
	top:200px;
	left:594px;
	font-size:14px;
}

/*** MDMUSIC ***/
.mdstrong {
  color: #333;
  font-size: 11px;
}

/*** Contact Area ***/

div#contact-area {
	position:absolute;
	top:0px;
	left:594px;
	width:400px;
	color: #A0A0A0;
	font-size:10px;
}

/*** AFP Area ***/

div#afp-area {
	position:absolute;
	top:240px;
	left:451px;
	width:400px;
	color: #A0A0A0;
	font-size:10px;
	line-height:12px;
  padding-bottom:0.8em;
}

div.client-name {
  display: inline;
  padding-right: 15px;
  font-size: 11px;
	color: #333;
  text-transform: uppercase;
  padding-bottom: 0.5em;
}

div.client-multivids {
  display: inline;
  padding-right: 0px;
  font-size: 11px;
	color: #333;
  text-transform: uppercase;
}

div.client-video {
  display: inline;
  padding-right: 0px;
  font-size: 11px;
}

div.client-spacer {
  display: inline;
  padding-right:15px;
}

div.video-area {
  padding-top: 0.8em;
}

/*** Discog Area ***/

div#discog-area {
  position: absolute;
  top:240px;
  left:40px;
  width:400px;
}

div.project-heading {
  text-transform: uppercase;
  padding-bottom: 0.5em;
}
span.project-info {
	color: #B0B0B0;
  font-size: 8px;
  text-transform: lowercase;
}

div.release-area {
  display: inline;
  float: right;
  width: 200px;
  font-size: 10px;
}
div.release-heading {
  font-size: 11px;
  color: #333;
}
div.tracks-area {
  padding-bottom: 1em;
}
div.track-name {
	color: #A0A0A0;
}
span.with-audio {
  color:#333;
}

div.purchase-text {
	color: #A0A0A0;
}
div.buylink-name {
  display: inline;
}

div.cover-image-area {
  padding-top: 0.5em;
}
div.cover-image-area img {
  width:100px;
}

