<!DOCTYPE html>
<html>
<head>
  <title>MJD Music</title>
  <%= stylesheet_link_tag "scaffold", "drplayer.css" %>
  <%= javascript_include_tag :defaults, "drplayer.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
